html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
li {
  color: rgba(0, 0, 0, 0.7);
  font-size: 2.2rem;
  padding: 0 32px;
  margin: 0;
}
a {
  color: rgba(0, 0, 0, 0.7);
  font-size: 2rem;
  text-decoration: none;
}
a:hover {
  font-weight: bolder;
}
h1 {
  font-size: 5rem;
}
section {
  width: 80%;
  margin: 0 auto;
}
img:hover {
  opacity: 80%;
}
.bio {
  margin: 0 40px;
  text-align: center;
  font-size: 1.4rem;
}
header {
  height: 13vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
header nav ul .side_borders {
  border-left: 2px solid rgba(0, 0, 0, 0.7);
  border-right: 2px solid rgba(0, 0, 0, 0.7);
}
section.title-container {
  position: relative;
}
section.title-container h1 {
  color: whitesmoke;
  margin-bottom: 40px;
}
section.title-container .button {
  background-color: whitesmoke;
  padding: 10px 50px;
  border: 2px solid rgba(0, 0, 0, 0.7);
}
section.title-container .info {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
section.title-container img {
  display: block;
  width: 90%;
  height: 800px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.artists-container {
  margin-top: 35px;
  display: flex;
  justify-content: center;
  width: 80%;
}
.artists-container .artist {
  width: 50%;
}
.artists-container .artist .c {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.artists-container .artist .c img {
  width: 500px;
  height: 400px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.artists-container .artist .c .d {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.artists-container .artist .c .d a {
  margin-bottom: 30px;
}
