li
{
    color: @font_color;
    font-size: 2.2rem;
    padding: 0 32px;
    margin: 0;
}

a
{
    color: @font_color;
    font-size: 2rem;
    text-decoration: none;
}

a:hover
{
    font-weight: bolder;
}

h1
{
    font-size: 5rem;
}

section
{
    width: 80%;
    margin: 0 auto;
}

img:hover
{
    opacity: 80%;
}